version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps):"
    open-pull-requests-limit: 10
    groups:
      go-version-updates:
        patterns:
          - "*"
        applies-to: "version-updates"
      go-security-updates:
        patterns:
          - "*"
        applies-to: "security-updates"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(deps):"
    open-pull-requests-limit: 10
    groups:
      actions-version-updates:
        patterns:
          - "*"
        applies-to: "version-updates"
      actions-security-updates:
        patterns:
          - "*"
        applies-to: "security-updates"
