{{- if .Values.login.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "login.configmapName" . }}
  {{- with .Values.login.configMap.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "login.labels" . | nindent 4 }}
data:
  .env: |-
    {{- if .Values.login.customConfigmapConfig }}
    {{ .Values.login.customConfigmapConfig | nindent 4 }}
    {{- else }}
      ZITADEL_SERVICE_USER_TOKEN_FILE="/login-client/pat"
      ZITADEL_API_URL="http{{ if and .Values.zitadel.configmapConfig.TLS .Values.zitadel.configmapConfig.TLS.Enabled }}s{{ end }}://{{ include "zitadel.fullname" . }}:{{ .Values.service.port }}"
      CUSTOM_REQUEST_HEADERS="Host:{{ .Values.zitadel.configmapConfig.ExternalDomain }}"
      {{- if .Values.zitadel.selfSignedCert.enabled }}
      NODE_TLS_REJECT_UNAUTHORIZED=0
      {{- end }}
    {{- end }}
{{- end }}
