{{- if .Values.login.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: login-config-dotenv
  {{- with .Values.login.configMap.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "zitadel.login.labels" . | nindent 4 }}
data:
  .env: |-
    {{- if .Values.login.customConfigmapConfig }}
    {{ .Values.login.customConfigmapConfig | nindent 4 }}
    {{- else }}
      ZITADEL_SERVICE_USER_TOKEN_FILE="/login-client/pat"
      ZITADEL_API_URL="http://{{ include "zitadel.fullname" . }}:{{ .Values.service.port }}"
      CUSTOM_REQUEST_HEADERS="Host:{{ .Values.zitadel.configmapConfig.ExternalDomain }}"
    {{- end }}
{{- end }}
