{{- if .Values.zitadel.dbSslCaCrt }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "zitadel.dbSslCaCrtSecretName" . }}
  {{- with .Values.zitadel.dbSslCaCrtAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "zitadel.labels" . | nindent 4 }}
stringData:
  ca.crt: |-
{{ .Values.zitadel.dbSslCaCrt | default "" | nindent 6 }}
{{- end }}
