{{- if .Values.zitadel.secretConfig -}}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: zitadel-secrets-yaml
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "0"
  labels:
    {{- include "zitadel.labels" . | nindent 4 }}
stringData:
  zitadel-secrets-yaml: |-
    {{ .Values.zitadel.secretConfig | toYaml | nindent 4 }}
{{- end -}}
