apiVersion: v1
kind: Service
metadata:
  name: {{ include "zitadel.fullname" . }}
  {{- if .Values.service }}
  {{- with .Values.service.annotations }}
  annotations:
      {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
  labels:
    {{- include "zitadel.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: {{ .Values.service.protocol }}-server
      {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
      appProtocol: {{ .Values.service.protocol }}
      {{- end }}
  selector:
    {{- include "zitadel.selectorLabels" . | nindent 4 }}
