#file: noinspection KubernetesUnknownResourcesInspection
{{- if and .Values.metrics.enabled .Values.metrics.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "zitadel.fullname" . }}
  {{- if .Values.metrics.serviceMonitor.namespace }}
  namespace: {{ .Values.metrics.serviceMonitor.namespace }}
  {{- end }}
  labels:
    {{- include "zitadel.start.labels" . | nindent 4 }}
    {{- if .Values.metrics.serviceMonitor.additionalLabels }}
        {{- toYaml .Values.metrics.serviceMonitor.additionalLabels | nindent 4 }}
    {{- end }}
spec:
  endpoints:
  - port: {{ regexReplaceAll "\\W+" .Values.service.protocol "-" }}-server
    {{- if .Values.metrics.serviceMonitor.scrapeInterval }}
    interval: {{ .Values.metrics.serviceMonitor.scrapeInterval }}
    {{- end }}
    {{- if .Values.metrics.serviceMonitor.scrapeTimeout }}
    scrapeTimeout: {{ .Values.metrics.serviceMonitor.scrapeTimeout }}
    {{- end }}
    {{- if .Values.metrics.serviceMonitor.relabellings }}
    relabelings:
      {{- toYaml .Values.metrics.serviceMonitor.relabellings | indent 6 }}
    {{- end }}
    {{- if .Values.metrics.serviceMonitor.metricRelabellings }}
    metricRelabelings:
      {{- toYaml .Values.metrics.serviceMonitor.metricRelabellings | indent 6 }}
    {{- end }}
    path: /debug/metrics
    {{- if .Values.metrics.serviceMonitor.scheme }}
    scheme: {{ .Values.metrics.serviceMonitor.scheme }}
    {{- end }}
    {{- if .Values.metrics.serviceMonitor.tlsConfig }}
    tlsConfig:
      {{- toYaml .Values.metrics.serviceMonitor.tlsConfig | nindent 6 }}
    {{- end }}
    {{- if .Values.metrics.serviceMonitor.proxyUrl }}
    proxyUrl: {{ .Values.metrics.serviceMonitor.proxyUrl }}
    {{- end }}
    honorLabels: {{ .Values.metrics.serviceMonitor.honorLabels }}
    honorTimestamps: {{ .Values.metrics.serviceMonitor.honorTimestamps }}
  jobLabel: {{ include "zitadel.fullname" . }}
  namespaceSelector:
    matchNames:
    - "{{ $.Release.Namespace }}"
  selector:
    matchLabels:
    {{- include "zitadel.service.selectorLabels" . | nindent 6 }}
{{- end }}
