name: 'Lint Charts'

on: 'pull_request'

jobs:

  lint:

    runs-on: 'ubuntu-latest'

    steps:
      - id: 'checkout'
        name: Check The Repo Out
        uses: 'actions/checkout@v5'
        with:
          fetch-depth: 0

      - name: Get Changed Test Relevant Files
        id: 'list-changed-test'
        uses: tj-actions/changed-files@v47
        with:
          files: |
            charts/zitadel/templates/**
            charts/zitadel/values.yaml
            charts/zitadel/Chart.yaml

      - id: 'set-up-helm'
        name: Install Helm (The Chart Testing CLI Depends On It)
        uses: 'azure/setup-helm@v4'
        with:
          version: latest
        if: steps.list-changed-test.outputs.any_changed == 'true'

      - id: 'set-up-python'
        name: Install Python (The Chart Testing CLI Depends On It)
        uses: 'actions/setup-python@v6.0.0'
        with:
          python-version: 3.11.4
        if: steps.list-changed-test.outputs.any_changed == 'true'

      - id: 'set-up-chart-testing'
        name: Install Chart Testing CLI
        uses: 'helm/chart-testing-action@v2.7.0'
        with:
          version: 'v3.12.0'
        if: steps.list-changed-test.outputs.any_changed == 'true'

      - id: 'list-changed'
        name: Check If The Chart Has Changes (not only comments, for example)
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi
        if: steps.list-changed-test.outputs.any_changed == 'true'

      - id: 'lint'
        name: Lint The Chart
        run: 'ct lint --target-branch ${{ github.event.repository.default_branch }}'
        if: steps.list-changed-test.outputs.any_changed == 'true' && steps.list-changed.outputs.changed == 'true'
