name: Qodana

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    working-directory: ./

jobs:
  qodana-check:
    runs-on: ubuntu-latest
    name: Inspect Code

    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6.pre.beta
        with:
          fetch-depth: 0

      - name: Run Qodana
        uses: JetBrains/qodana-action@v2025.2
        with:
          args: --baseline,.qodana/qodana.sarif.json
          push-fixes: true
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
