name: 'Release Charts'

on:
  push:
    branches:
      - 'main'

jobs:
  release:

    runs-on: 'ubuntu-20.04'

    permissions:
      contents: 'write'
      id-token: 'write'

    steps:
    - id: 'checkout'
      uses: 'actions/checkout@v3'
      with:
        fetch-depth: "0"

    - id: 'configure-git'
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

    - id: 'add-cockroachdb-repo'
      run: 'helm repo add cockroachdb https://charts.cockroachdb.com/'

    - id: 'release'
      uses: 'helm/chart-releaser-action@v1.5.0'
      env:
        CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        CR_GENERATE_RELEASE_NOTES: true
