name: 'Test Charts'

on: 'pull_request'

jobs:
  test:

    strategy:
      matrix:
        # digests should be appended in image versions according to the KIND release notes
        # https://github.com/kubernetes-sigs/kind/releases/tag/v0.14.0
        kindest-image-tag:
          - 'v1.16.15'
          - 'v1.17.17'
          - 'v1.18.20@sha256:738cdc23ed4be6cc0b7ea277a2ebcc454c8373d7d8fb991a7fcdbd126188e6d7'
          - 'v1.19.16@sha256:a146f9819fece706b337d34125bbd5cb8ae4d25558427bf2fa3ee8ad231236f2'
          - 'v1.20.15@sha256:45d0194a8069c46483a0e509088ab9249302af561ebee76a1281a1f08ecb4ed3'
          - 'v1.21.14@sha256:ad5b7446dd8332439f22a1efdac73670f0da158c00f0a70b45716e7ef3fae20b'
          - 'v1.22.15@sha256:bfd5eaae36849bfb3c1e3b9442f3da17d730718248939d9d547e86bbac5da586'
          - 'v1.23.12@sha256:9402cf1330bbd3a0d097d2033fa489b2abe40d479cc5ef47d0b6a6960613148a'
          - 'v1.24.6@sha256:97e8d00bc37a7598a0b32d1fabd155a96355c49fa0d4d4790aab0f161bf31be1'
          - 'v1.25.2@sha256:9be91e9e9cdf116809841fc77ebdb8845443c4c72fe5218f3ae9eb57fdb4bace'

    runs-on: 'ubuntu-22.04'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - id: 'checkout'
      uses: 'actions/checkout@v3'
      with:
        fetch-depth: 0

    - id: 'set-up-helm'
      uses: 'azure/setup-helm@v3.3'
      with:
        version: 'v3.10.0'

    - id: 'set-up-python'
      uses: 'actions/setup-python@v2'
      with:
        python-version: 3.7

    - id: 'set-up-chart-testing'
      uses: 'helm/chart-testing-action@v2.3.1'
      with:
        version: 'v3.7.1'

    - id: 'list-changed'
      run: |
        changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
        if [[ -n "$changed" ]]; then
          echo "changed=true" >> $GITHUB_OUTPUT
        fi

    - id: 'add-cockroachdb-repo'
      run: 'helm repo add cockroachdb https://charts.cockroachdb.com/'
      if: steps.list-changed.outputs.changed == 'true'

    - id: 'lint'
      run: 'ct lint --target-branch ${{ github.event.repository.default_branch }}'
      if: steps.list-changed.outputs.changed == 'true'

    - name: 'create-kind'
      uses: 'helm/kind-action@v1.4.0'
      if: steps.list-changed.outputs.changed == 'true'
      with:
        node_image: 'kindest/node:${{ matrix.kindest-image-tag }}'
        version: 'v0.16.0'

    - name: 'test'
      run: 'go test -tags integration ./...'
      if: steps.list-changed.outputs.changed == 'true'
