name: 'Test Charts'

on: 'pull_request'

jobs:
  test:

    runs-on: 'ubuntu-latest'

    permissions:
      contents: 'read'
      id-token: 'write'

    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        k8s:
        - version: v1.30
          kindest-image-tag: 'v1.30.13@sha256:397209b3d947d154f6641f2d0ce8d473732bd91c87d9575ade99049aa33cd648'
        - version: v1.31
          kindest-image-tag: 'v1.31.9@sha256:b94a3a6c06198d17f59cca8c6f486236fa05e2fb359cbd75dabbfc348a10b211'
        - version: v1.32
          kindest-image-tag: 'v1.32.5@sha256:e3b2327e3a5ab8c76f5ece68936e4cafaa82edf58486b769727ab0b3b97a5b0d'
        - version: v1.33
          kindest-image-tag: 'v1.33.1@sha256:050072256b9a903bd914c0b2866828150cb229cea0efe5892e2b644d5dd3b34f'

    name: 'K8s version ${{ matrix.k8s.version }}'

    steps:
    - id: 'checkout'
      name: Check The Repo Out
      uses: 'actions/checkout@v4'
      with:
        fetch-depth: 0

    - name: Get Changed Test Relevant Files
      id: 'list-changed-test'
      uses: tj-actions/changed-files@v46
      with:
        files: |
          charts/zitadel/**
          examples/**/*.yaml
          go.mod
          go.sum

    - id: 'create-kind'
      name: Create Kubernetes Cluster with KinD
      uses: 'helm/kind-action@v1.12.0'
      with:
        node_image: 'kindest/node:${{ matrix.k8s.kindest-image-tag }}'
        version: 'v0.29.0'
        config: ./charts/zitadel/acceptance_test/kindConfig.yaml
      if: steps.list-changed-test.outputs.any_changed == 'true'

    - id: 'setup-go'
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
      if: steps.list-changed-test.outputs.any_changed == 'true'

    - id: 'setup-chrome'
      uses: browser-actions/setup-chrome@v1
      with:
        chrome-version: 138

    - id: 'test'
      name: Run Go Tests
      run: 'go test ./...'
      if: steps.list-changed-test.outputs.any_changed == 'true'
      env:
        CHROME_BINARY_PATH: ${{ steps.setup-chrome.outputs.chrome-path }}

    - id: 'upload-login-failures'
      name: Upload Login Failures
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: login-failures-${{ matrix.k8s.version }}
        path: charts/zitadel/acceptance_test/.login-failures
        retention-days: 30

    - id: 'zitadel-test-namespaces'
      name: Grep Created Namespaces
      run: |
        echo "pgInsecure=$(kubectl get namespaces --output name | grep 1-postgres-insecure | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
        echo "pgSecure=$(kubectl get namespaces --output name | grep 2-postgres-secure | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
        echo "refSecrets=$(kubectl get namespaces --output name | grep 3-referenced-secrets | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
        echo "machineUser=$(kubectl get namespaces --output name | grep 4-machine-user | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
        echo "internalTls=$(kubectl get namespaces --output name | grep 5-internal-tls | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
      if: failure()

    - id: 'namespace-report-pg-insecure'
      name: Show ${{ steps.zitadel-test-namespaces.outputs.pgInsecure }} Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: failure()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.pgInsecure }}

    - id: 'namespace-report-pg-secure'
      name: Show ${{ steps.zitadel-test-namespaces.outputs.pgSecure }} Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: failure()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.pgSecure }}

    - id: 'namespace-report-ref-secrets'
      name: Show ${{ steps.zitadel-test-namespaces.outputs.refSecrets }} Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: failure()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.refSecrets }}

    - id: 'namespace-report-machine-user'
      name: Show ${{ steps.zitadel-test-namespaces.outputs.machineUser }} Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: failure()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.machineUser }}

    - id: 'namespace-report-self-signed'
      name: Show ${{ steps.zitadel-test-namespaces.outputs.internalTls }} Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: failure()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.internalTls }}
