name: 'Test Charts'

on: 'pull_request'

jobs:
  test:

    strategy:
      matrix:
        kind-k8s-version: ['1.16.15', '1.17.17', '1.18.20', '1.19.16', '1.20.15', '1.21.12', '1.22.9', '1.23.6', '1.24.1']

    runs-on: 'ubuntu-20.04'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - id: 'checkout'
      uses: 'actions/checkout@v3'
      with:
        fetch-depth: 0

    - id: 'set-up-helm'
      uses: 'azure/setup-helm@v1'
      with:
        version: 'v3.8.1'

    - id: 'set-up-python'
      uses: 'actions/setup-python@v2'
      with:
        python-version: 3.7

    - id: 'set-up-chart-testing'
      uses: 'helm/chart-testing-action@v2.2.1'
      with:
        version: 'v3.6.0'

    - id: 'list-changed'
      run: |
        changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
        if [[ -n "$changed" ]]; then
          echo "::set-output name=changed::true"
        fi

    - id: 'build-dependencies'
      run: |
        for dir in $(ls -d charts/*); do
          helm dependency build $dir;
        done

    - id: 'lint'
      run: 'ct lint --target-branch ${{ github.event.repository.default_branch }}'

    - name: 'create-kind'
      uses: 'helm/kind-action@v1.2.0'
      if: steps.list-changed.outputs.changed == 'true'
      with:
        node_image: 'kindest/node:v${{ matrix.kind-k8s-version }}'
        version: 'v0.14.0'

    - name: 'test'
      run: 'go test -tags integration ./...'

