name: 'Test Charts'

on: 'pull_request'

jobs:
  test:

    runs-on: 'ubuntu-20.04'

    permissions:
      contents: 'read'
      id-token: 'write'

    timeout-minutes: 60

    strategy:
      fail-fast: false
      matrix:
        kindest-image-tag:
        - 'v1.21.14@sha256:8a4e9bb3f415d2bb81629ce33ef9c76ba514c14d707f9797a01e3216376ba093'
        - 'v1.22.17@sha256:f5b2e5698c6c9d6d0adc419c0deae21a425c07d81bbf3b6a6834042f25d4fba2'
        - 'v1.23.17@sha256:59c989ff8a517a93127d4a536e7014d28e235fb3529d9fba91b3951d461edfdb'
        - 'v1.24.15@sha256:7db4f8bea3e14b82d12e044e25e34bd53754b7f2b0e9d56df21774e6f66a70ab'
        - 'v1.25.11@sha256:227fa11ce74ea76a0474eeefb84cb75d8dad1b08638371ecf0e86259b35be0c8'
        - 'v1.26.6@sha256:6e2d8b28a5b601defe327b98bd1c2d1930b49e5d8c512e1895099e4504007adb'
        - 'v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72'
        helm-version:
        - latest
        include:
        - kindest-image-tag: 'v1.27.3@sha256:3966ac761ae0136263ffdb6cfd4db23ef8a83cba8a463690e98317add2c9ba72'
          helm-version: v3.9.0

    steps:
    - id: 'checkout'
      name: Check The Repo Out
      uses: 'actions/checkout@v3'
      with:
        fetch-depth: 0

    - id: 'set-up-helm'
      name: Install Helm (The Chart Testing CLI Depends On It)
      uses: 'azure/setup-helm@v3.5'
      with:
        version: '${{ matrix.helm-version }}'
        token: ${{ secrets.GITHUB_TOKEN }}

    - id: 'set-up-python'
      name: Install Python (The Chart Testing CLI Depends On It)
      uses: 'actions/setup-python@v3.1.4'
      with:
        python-version: 3.11.4

    - id: 'set-up-chart-testing'
      name: Install Chart Testing CLI
      uses: 'helm/chart-testing-action@v2.4.0'
      with:
        version: 'v3.8.0'

    - id: 'list-changed'
      name: Check If The Chart Has Changes
      run: |
        changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
        if [[ -n "$changed" ]]; then
          echo "changed=true" >> $GITHUB_OUTPUT
        fi

    - id: 'add-cockroachdb-repo'
      name: Add The CockroachDB Helm Repo
      run: 'helm repo add cockroachdb https://charts.cockroachdb.com/'
      if: steps.list-changed.outputs.changed == 'true'

    - id: 'lint'
      name: Lint The Chart
      run: 'ct lint --target-branch ${{ github.event.repository.default_branch }}'
      if: steps.list-changed.outputs.changed == 'true'

    - id: 'create-kind'
      name: Create Kubernetes Cluster with KinD
      uses: 'helm/kind-action@v1.8.0'
      if: steps.list-changed.outputs.changed == 'true'
      with:
        node_image: 'kindest/node:${{ matrix.kindest-image-tag }}'
        version: 'v0.20.0'

    - id: 'test'
      name: Run Go Tests
      run: 'go test ./...'
      if: steps.list-changed.outputs.changed == 'true'

    - id: 'zitadel-test-namespaces'
      name: Grep Created Namespaces
      run: |
        echo "inlineSecretsNamespace=$(kubectl get namespaces --output name | grep 1-inline-secrets | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
        echo "refSecretsNamespace=$(kubectl get namespaces --output name | grep 2-ref-secrets | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
        echo "machineKeyNamespace=$(kubectl get namespaces --output name | grep 3-machine-key | cut -d / -f 2)" >> "$GITHUB_OUTPUT"
      if: always()

    - id: 'namespace-report-inline-secrets'
      name: Show Inline Secrets Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: always()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.inlineSecretsNamespace }}

    - id: 'namespace-report-ref-secrets'
      name: Show Referenced Secrets Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: always()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.refSecretsNamespace }}

    - id: 'namespace-report-machine-key'
      name: Show Machine Key Namespace
      uses: jupyterhub/action-k8s-namespace-report@v1
      if: always()
      with:
        namespace: ${{ steps.zitadel-test-namespaces.outputs.machineKeyNamespace }}
