name: 'Update Readme'

on:
  push:
    branches:
      - 'sync-readme'

jobs:
  release:

    runs-on: 'ubuntu-20.04'

    permissions:
      contents: 'write'
      id-token: 'write'

    steps:
    - name: "Checkout"
      id: 'checkout'
      uses: 'actions/checkout@v3'
      with:
        ref: 'gh-pages'

    - name: 'Fetch main'
      id: 'fetch'
      run: 'git fetch origin main'

    - name: 'Update README.md'
      id: 'update'
      run: 'git checkout origin/main -- README.md'

    - name: 'Create Pull Request'
      id: 'pr'
      uses: 'peter-evans/create-pull-request@v5'
      with:
        title: 'docs: update README.md'
        path: 'README.md'
        branch: 'update-repo-readme'
        delete-branch: true
        commit-message: 'docs: update README.md'
        assignees: '@stebenz,@eliobischof'

