name: 'Update Readme'

on:
  push:
    branches:
      - 'main'
    paths:
      - 'README.md'

jobs:
  release:

    runs-on: 'ubuntu-latest'

    permissions:
      contents: 'write'
      pull-requests: write

    steps:
    - name: "Checkout"
      id: 'checkout'
      uses: 'actions/checkout@v4'
      with:
        ref: 'gh-pages'

    - name: 'Fetch main'
      id: 'fetch'
      run: 'git fetch origin main'

    - name: 'Update README.md'
      id: 'update'
      run: 'git checkout origin/main -- README.md'

    - name: 'Create Pull Request'
      id: 'pr'
      uses: 'peter-evans/create-pull-request@v6'
      with:
        title: 'docs: update README.md'
        branch: 'update-repo-readme'
        delete-branch: true
        commit-message: 'docs: update README.md'
        reviewers: 'stebenz,eliobischof'

